/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.7;
  color: #777;
  padding: 30px;
}
.header {
  height: 95vh;
  background-image: linear-gradient(
      to right bottom,
      rgba(126, 213, 111, 0.801),
      rgba(40, 180, 133, 0.801)
    ),
    url("../img/hero.jpg");
  background-size: cover;
  background-position: top;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  position: relative;
  /* clip-path: polygon(50% 0, 100% 100%, 0 100%); */
}
.header--navs {
  position: absolute;
  top: 2rem;
  left: 2rem;
}
.logo {
  width: 8rem;
}
.head-box {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.heading {
  text-transform: uppercase;
  font-weight: 400;
  color: aliceblue;
  margin-bottom: 2rem;
}
.heading--primary {
  font-size: 60px;
  letter-spacing: 40px;
  display: block;
  animation: moveInToRight 2s ease-out;
}
.heading--secondary {
  display: block;
  font-size: 20px;
  letter-spacing: 16px;
  font-weight: 700;
  animation: moveInToLeft 2s ease-out;
}
@keyframes moveInToRight {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  80% {
    transform: translateX(30px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes moveInToLeft {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }
  80% {
    transform: translateX(-30px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
.btn:link,
.btn:visited {
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  padding: 15px 40px;
  background-color: aliceblue;
  color: #777;
  border-radius: 200px;
  font-weight: 700;
}
.btn:hover {
  transform: translateY(-3px);
  transition: all 0.3s;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}
.btn:active {
  transform: translateY(-1px);
  transition: all 0.3s;
}
